


@media(max-width: 1439px){
  .seaction-advantages .row {
      margin: 0 1.3rem;
  }
}


@media(max-width: 1199px){
  .seaction-advantages .row {
      margin: 0 -15px;
  }
}


@media(max-width: 767px){
  .seaction-advantages {
    padding-top: 4.3rem;
    padding-bottom: 3.8rem;
}
.seaction-advantages h2 {
    margin-bottom: 2rem;
}
.seaction-advantages .col:last-child .infobox{
    margin-bottom: 0;
}
}
